@font-face {
    src: url("../../fonts/Helvetica/Helvetica.woff2") format("woff2"),
        url("../../fonts/Helvetica/Helvetica.woff") format("woff");
    font-family: "Helvetica";
    font-weight: normal;
}

@font-face {
    src: url("../../fonts/Open_Sans/OpenSans-Medium.woff2") format("woff2"),
        url("../../fonts/Open_Sans/OpenSans-Medium.woff") format("woff");
    font-family: "Open Sans";
    font-weight: 500;
}

@font-face {
    src: url("../../fonts/Open_Sans/OpenSans-Regular.woff2") format("woff2"),
        url("../../fonts/Open_Sans/OpenSans-Regular.woff") format("woff");
    font-family: "Open Sans";
    font-weight: 400;
}
