.contact-page-wrapper {
    .contact-form-col {
        padding: 15px 25px 15px 50px;
        max-width: 700px;

        h1 {
            font-weight: 700;
        }

        p {
            font-family: "Ubuntu", "Nunito", sans-serif;
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 6px;
        }

        .wpforms-field-label {
            display: none;
        }

        .wpforms-field input,
        .wpforms-field textarea {
            font-family: "Ubuntu", "Nunito", sans-serif;
            font-size: 15px;
            font-weight: 400;
        }

        .wpforms-field .wpforms-error {
            font-weight: 700;
        }

        .contact-submit {
            font-weight: 700;
            font-size: 18px;
        }
    }
}

@media (min-width: 575px) {
    .contact-img-col {
        min-height: 719px;
    }
}

@media (max-width: 575px) {
    .contact-page-wrapper {
        .container-fluid {
            padding-right: 0;
        }

        .contact-form-col {
            max-width: 100vw;
            padding: 15px 12px;
        }
    }
}
