.contact-page-wrapper {
    .contact-form-col {
        padding: 15px 25px 15px 50px;
        max-width: 700px;

        .wpforms-field-label {
            display: none;
        }
    }
}

@media (min-width: 575px) {
    .contact-img-col {
        min-height: 719px;
    }
}

@media (max-width: 575px) {
    .contact-page-wrapper {
        .container-fluid {
            padding-right: 0;
        }

        .contact-form-col {
            padding: 15px 12px;
        }
    }
}
