.contact-page-wrapper .contact-form-col {
    padding: 15px 25px 15px 50px;
    max-width: 700px;
}

@media (max-width: 580px) {
    .contact-page-wrapper {
        .container-fluid {
            padding-right: 0;
        }

        .contact-form-col {
            padding: 15px 12px;
        }
    }
}
