.footer {
    padding-top: 25px;
    border-top: 1px solid $white;

    .footer-col-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .footer-heading {
            color: $white;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 2.2px;
            width: 100%;
            margin-bottom: 25px;

            &:after {
                display: block;
                content: "";
                margin-top: 6px;
                width: 42px;
                height: 3px;
                background: $main-one;
                border-radius: 100px;
            }
        }

        .footer-contacts {
            color: $white;
            list-style: none;
            padding-left: 0;
            font-size: 15px;
            align-self: flex-start;
            margin-bottom: 0;

            .contacts-item {
                margin-bottom: 5px;
                font-weight: 500;

                a {
                    text-decoration: none;
                    color: $white;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            i {
                font-size: 16px;
                margin-right: 10px;
                color: $main-one;
            }
        }
    }

    .footer-col-2 {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .footer-social-btns {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            i {
                font-size: 23px;
                color: $white;
                transition: all 0.3s;

                &:hover {
                    color: $main-one;
                }
            }
        }
    }

    .footer-copyright {
        color: $grey-main;
        font-size: 13px;
        width: 100%;
        padding: 25px 0 15px 0;

        .col-created-by {
            a {
                text-decoration: none;
                color: $grey-main;

                span {
                    font-size: 15px;
                    color: $white;
                    font-weight: 500;
                }

                &:hover span {
                    color: $main-one;
                }
            }
        }

        p {
            margin: 0;
        }

        .onlinewebfonts {
            display: none;
        }
    }
}

@media (min-width: 575px) {
    .footer .footer-copyright {
        margin-top: 25px;

        .col-created-by {
            text-align: right;
        }
    }
}

@media (max-width: 575px) {
    .footer {
        flex-direction: column;
        gap: 15px;

        .footer-col-1,
        .footer-col-2 {
            flex: 1 0 100%;
        }

        .footer-col-2 {
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 5px;
        }

        .footer-copyright {
            text-align: center;

            .col-created-by {
                margin-top: 10px;
            }

            p {
                padding: 0 25px;
            }
        }
    }
}
