.navbar {
    height: 75px;
    z-index: 3;

    // Logo
    .navbar-logo img {
        max-width: 300px;
    }

    // Navbar menu background
    .navbar-menu-bg {
        display: none;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: $black-600;
        z-index: 2;
    }
}

@media (min-width: 1025px) {
    .navbar {
        // Hamburger icon
        .navbar-toggle {
            display: none;
        }

        .navbar-menu {
            display: flex;
            justify-content: center;
            align-items: center;

            // Menu header, footer
            .navbar-menu-header,
            .navbar-menu-footer {
                display: none;
            }

            .menu-links {
                margin-top: 10px;

                .menu-item {
                    a {
                        padding: 13px 20px 11px 20px;
                        color: $white;
                        font-family: "Helvetica";
                        font-size: 15px;
                        text-decoration: none;
                        user-select: none;
                        text-transform: uppercase;
                    }

                    &:hover > a {
                        background: $main-one;
                        color: $black;
                        border-radius: 100px;
                    }

                    &.menu-item-has-children {
                        position: relative;
                        padding-bottom: 10px;

                        > a {
                            &:after {
                                display: inline-block;
                                font-family: "Font Awesome 5 Free", sans-serif;
                                content: "\f107";
                                font-weight: 700;
                                transition: transform 0.3s;
                                margin-left: 5px;
                                line-height: 1;
                            }
                        }

                        .sub-menu {
                            display: none;
                            position: absolute;
                            list-style: none;
                            background: $white;
                            top: 36px;
                            border-top: 3px solid $main-one;
                            padding: 9px 0;
                            min-width: 150px;
                            border-radius: 6px;

                            &:before {
                                display: inline-block;
                                font-family: "Font Awesome 5 Free", sans-serif;
                                content: "\f0d8";
                                font-weight: 900;
                                font-size: 20px;
                                line-height: 7px;
                                position: absolute;
                                top: -4px;
                                left: 35px;
                                color: $white;
                            }

                            a {
                                display: block;
                                color: $black;
                                padding: 10px 20px;
                                transition: all 0.3s;

                                &:hover {
                                    border-radius: 0;
                                    background: $gray-400;
                                }
                            }
                        }

                        &:hover .sub-menu {
                            display: block;
                        }
                    }
                }
            }

            .menu-languages {
                position: relative;
                margin-left: 10px;
                margin-top: 2px;
                height: 100%;

                .languages-inner {
                    position: relative;
                    height: 100%;

                    .language-active {
                        display: block;
                        height: 100%;
                        font-family: "Helvetica";
                        font-size: 15px;
                        text-transform: uppercase;
                        color: $white;
                        padding: 0 10px;
                        transition: all 0.3s;
                        /* cursor: pointer; temporary change */
                    }

                    .languages-options {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: -2px;

                        .languages-options-inner {
                            background-color: $white;
                            border-radius: 6px;

                            a {
                                position: relative;
                                display: block;
                                color: $black;
                                padding: 12px;
                                transition: 0.3s;
                                font-family: "Helvetica";
                                font-size: 15px;
                                text-decoration: none;
                                text-transform: uppercase;
                                transition: all 0.3s;
                                border-radius: 6px;

                                &:hover {
                                    background: $gray-400;
                                }
                            }
                        }
                    }
                }

                &:hover .languages-inner .languages-options {
                    display: none; /* temporary change */
                    // display: block;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .navbar {
        .navbar-menu-logo img {
            max-width: 220px;
        }

        // Hamburger icon
        .navbar-toggle {
            display: flex;
            width: 29.33px;
            height: 29.33px;
            flex-direction: column;
            justify-content: space-around;
            cursor: pointer;

            .line {
                width: 100%;
                height: 4.39px;
                background-color: $white;
                border-radius: 3px;
                transition: all 0.4s;
            }

            .line-transition {
                transition: all 0.1s;
            }
        }

        .navbar-menu {
            width: 100%;
            max-width: 450px;
            height: 100%;
            background-color: $main-two;
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 9;
            transition: right 0.8s cubic-bezier(0.23, 1, 0.32, 1);

            // Menu header
            .navbar-menu-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 30px;
                height: 75px;
            }

            // Menu footer
            .navbar-menu-footer {
                display: block;
                position: relative;
                height: 55px;

                .menu-footer-bottom {
                    height: 55px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    border-top: 1px solid $white;
                    padding: 0 30px;

                    .footer-languages {
                        display: flex;
                        width: max-content;
                        gap: 10px;

                        .current-lang {
                            font-family: "Helvetica";
                            font-size: 15px;
                            user-select: none;
                        }

                        a {
                            display: none; /* temporary change */
                            text-decoration: none;
                            color: $gray-600;
                            font-family: "Helvetica";
                            font-size: 15px;
                            user-select: none;
                            transition: all 0.3s;

                            &:hover {
                                color: $gray-500;
                            }
                        }

                        .current-lang,
                        .current-lang:hover {
                            color: $white;
                        }
                    }

                    .navbar-menu-social-btns {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        i {
                            font-size: 23px;
                            color: $white;
                            transition: all 0.3s;

                            &:hover {
                                color: $main-one;
                            }
                        }
                    }
                }
            }

            .menu-links {
                height: calc(100% - 130px);

                .navbar-nav {
                    display: flex;
                    flex-direction: column;
                    padding: 0 30px;
                    height: 100%;
                    overflow-y: scroll;
                    -ms-overflow-style: none; /* Internet Explorer 10+ */
                    scrollbar-width: none; /* Firefox */

                    &::-webkit-scrollbar {
                        display: none; /* Safari and Chrome */
                    }

                    .menu-item {
                        a {
                            display: block;
                            padding: 13px 20px;
                            color: $white;
                            font-family: "Helvetica";
                            font-size: 15px;
                            text-transform: uppercase;
                            text-decoration: none;
                            user-select: none;
                            transition: all 0.3s;

                            &:hover {
                                color: $main-one;
                            }
                        }

                        &.menu-item-has-children {
                            > a {
                                display: flex;
                                justify-content: space-between;

                                &:after {
                                    display: inline-block;
                                    font-family: "Font Awesome 5 Free",
                                        sans-serif;
                                    content: "\f107";
                                    font-weight: 700;
                                    transition: transform 0.3s;
                                    margin-left: 5px;
                                    line-height: 1;
                                    transform: rotate(-90deg);
                                    height: 18px;
                                }
                            }

                            .sub-menu {
                                display: none;
                                list-style: none;
                            }

                            &.open-submenu {
                                > a:after {
                                    transform: rotate(-180deg);
                                }

                                .sub-menu {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }

            .menu-languages {
                display: none;
            }
        }

        // Active navbar menu
        &.menu-active {
            .navbar-toggle {
                .line-1 {
                    transform: rotateZ(-45deg) translate(-7px, 6.5px);
                }

                .line-2 {
                    opacity: 0;
                }

                .line-3 {
                    transform: rotateZ(45deg) translate(-7px, -6.5px);
                }
            }

            .navbar-menu {
                right: 0;
            }

            .navbar-menu-bg {
                display: block;
            }
        }
    }
}

@media (max-width: 575px) {
    .navbar .navbar-logo img {
        max-width: 220px;
    }
}
