// Hero
.project-hero-wrapper {
    height: 75vh;
    max-width: 2560px;
    position: relative;
    overflow: hidden;

    .project-content-wrapper {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
    }

    .row .col-sm-5 {
        background: $main-one;
    }

    .project-title {
        color: $black;
    }
}

// Gallery
.project-images {
    margin-top: 60px;

    .image {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

@media (max-width: 575px) {
    .project-hero-wrapper {
        height: auto;

        .project-content-wrapper {
            display: none;
        }

        .row {
            height: auto;

            .col-sm-5 {
                height: max-content;
            }

            .project-content {
                padding: 30px 0;
            }

            .col-sm-7 {
                height: 250px;
            }
        }
    }
}

@media (min-width: 575px) {
    .project-hero-wrapper {
        .project-content-wrapper {
            height: 75vh;
        }

        .row {
            position: absolute;
            width: 100%;
            top: 0;
            height: 75vh;

            .project-content {
                display: none;
            }
        }
    }
}
