// Hero
.project-hero-wrapper {
    height: 75vh;
    max-width: 2560px;
    position: relative;
    overflow: hidden;

    .project-content-wrapper {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
    }

    .row .col-sm-5 {
        background: $main-one;
    }

    .project-title {
        color: $black;
        font-weight: 700;
    }

    .project-year {
        font-size: 15px;
        font-weight: 700;
    }

    .project-desc {
        font-family: "Ubuntu", "Nunito", sans-serif;
        font-size: 15px;
        font-weight: 500;
    }
}

// Gallery
.project-gallery {
    margin-top: 60px;
}

.nGY2 .nGY2ViewerContent .nGY2ViewerAreaNext > i,
.nGY2 .nGY2ViewerContent .nGY2ViewerAreaPrevious > i {
    text-shadow: none;
}

@media (max-width: 575px) {
    .project-hero-wrapper {
        height: auto;

        .project-content-wrapper {
            display: none;
        }

        .row {
            height: auto;

            .col-sm-5 {
                height: max-content;
            }

            .project-content {
                padding: 30px 0;
            }

            .col-sm-7 {
                height: 250px;
            }
        }
    }
}

@media (min-width: 575px) {
    .project-hero-wrapper {
        .project-content-wrapper {
            height: 75vh;
        }

        .row {
            position: absolute;
            width: 100%;
            top: 0;
            height: 75vh;

            .project-content {
                display: none;
            }
        }
    }
}
